@tailwind base;
@tailwind components;
@tailwind utilities;




html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply tracking-wide font-[Roboto+Mono]
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-medium
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl font-[Roboto+Mono]
  }

  h2 {
    @apply text-3xl sm:text-4xl font-[Roboto+Mono]
  }
  
  li {
    @apply cursor-pointer font-light font-[Roboto+Mono]
  }

  button {
    @apply shadow-xl rounded-xl text-black
  }
}

@layer utilities {
  .snap {
    scroll-snap-type: var(--scroll-snap-direction) var(--scroll-snap-constraint);
  }
  .snap-y {
    --scroll-snap-direction: y;
  }
  .snap-mandatory {
    --scroll-snap-constraint: mandatory;
  }
  .snap-start {
    scroll-snap-align: start;
  }
}

